$pc: #343C8E;
$sc: #3AAA35;

// svg{
// 	width:100%;
// 	height: auto;
// }

.modal-body {
	background: $pc;
}

.close {
	position: absolute;
	right: -40px;
	text-shadow: unset;
	color:red;
	line-height: unset;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:30px;

	&:hover{
		color: red;
	}
}

button.close{
	background-color: #ffffff;
}

.popover-body {
    color: #ffffff;
    display: flex;
    padding: (1rem/2) (.75rem/2);
    flex-wrap:wrap;
}

.pop-content{
	padding: (.5rem/2) (.75rem/2);
	box-sizing: border-box;
	flex-grow: 1;

	&.road{
		flex-grow:2;
	}
	&.size{
		flex-grow:2;
	}
	&.facing,&.file-number,&.client-phone{
		flex-basis: (100%/3);
	}
	&.client-name,&.client-address{
		flex-basis: 100%;
	}
}

.pop-title{
	font-weight: bold;
}

.pop-value{
	padding: 2.5px 10px;
	background: lighten($pc,15%);
	border-radius: 5px;
}